.layout {
    max-width: 1000px;
    min-height: 100vh;

    margin-inline: auto;

    display: grid;
    grid-template-columns: 300px 1fr;
}

.content {
    border-inline: 1px solid #ebeef0;
}

@media (max-width: 780px) {
    .layout {
        grid-template-columns: 80px 1fr;
    }
}